/* COLORS PALETTE */
:root{
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notifications: #8edafc;
    --color-type-bar:#f3eeea;
    --background: linear-gradient(180deg, #009688 18.55%, #D9DBD5 18.56%);
}

/* FONT SETTINGS */
body{
    font-family: 'Lato', sans-serif;
}
/* UTILITIES */
.border1{
    border: 1px solid black;
}
/* BACKGROUND GRADIENT */
#app{
    background: var(--background);
}

/* SIDEBAR LEFT */
/* USER */
.side-user{
    background-color: var(--color-headers);
}
.user-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icons-functions i{
    color: var(--color-light-icons);
}

/* NOTIFICATION */
.side-notification{
    background-color: var(--color-notifications);
}
.side-notification span,a{
    font-size: 0.6em;
}
.side-notification i{
    color: var(--color-notifications);
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 4px;
}
/* RESEARCH */
.side-research{
    background-color: var(--color-contact-hover);
}
.search{
    color: var(--color-light-icons);
}
/* CONTACT LIST */
.side-contact-list{
    background-color: var(--color-white);
}
.contact-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact-info span{
    font-size: 0.6em;
}
/* CHAT PANEL */
.chat-bg{
    background-image: url(../img/mine.jpg);
    background-size: contain;
}
.chat-user{
    background-color: var(--color-headers);
}
.chat-type-bar{
    background-color: var(--color-type-bar);
}